<h1>
    New Blog
</h1>
<% if @blog_post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog post from being saved:</h2>

    <ul>
    <% @blog_post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_with model: @blog_post do |f| %>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :body %>
        <%= f.text_area :body %>
    </div>
    <div>
    <%= f.submit "Create Blog Post" %>
    </div>
<% end %>
